
body {
  background-color: #8A89C0 !important;
}

.dashboard-page-wrapper {
  height: 90% !important;
}

.storyboard-nav .sbprev, .storyboard-nav .sbnext, .storyboard-nav .sbframelist {
    height: 60px;
}

.storyboard-nav .sbframelist ul li {
  font-size: 20px;
  text-align: center;
  background: #E41138;
  border-radius: 20px;
  width: 180px;
  padding: 10px;
  color: black;
}

.storyboard-nav .sbframelist ul li.active {
    background-color: #EA8F1F;
}

.chart-wrapper {
  margin: 5px 20px 5px 10px;
  padding: 20px;
  overflow: auto;
}

.container-fluid {
  background-color: #8A89C0;
}

.upload-text {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.sbframe-commentary {
  background-color: #96E6B3;
  padding: 10px;
  font-weight: bold;
  margin: 5px 20px 5px 0px;
}

#example_data {
  border-radius: 10px;
  padding: 10px;
  font-size: 22px;
}

.btn {
  border-radius: 10px !important;
}

.footer-text{
  float: right;
  font-size: 14px;
  margin: 5px;
}

.load_ds_msg {
  color: red;
}
